* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: auto;
}

#landing {
    /* background-image: url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Alata', sans-serif;
    position: relative;
}

#hero-image {
    opacity: 0;
    position: absolute;
    filter: opacity(0);
    filter: brightness(100);
    border: 30px solid red;
    backdrop-filter: opacity(0%);
}

#hero-content-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#hero-content {
    width: 100%;
    height: 100%;
    padding: 50px 10vw;
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
}

#hero-text-wrapper {
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

#hero-text {
    margin: auto 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 70px;
    border: 2px solid white;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* About Setion */

#about-wrapper {
    /* width: 100vw; */
    padding: 50px 10vw;
    margin: 10vh 0;
}

#about {
    /* display: flex; */
    /* align-items: end; */
    position: relative;
}

#about-image {
    /* flex: 1; */
    width: 60%;
}

#about-text-wrapper {
    position: absolute;
    bottom: 0;
    right: 4vw;
    width: fit-content;
}

#about-text-container {
    background-color: white;
    padding: 70px 90px 0;
    width: 39vw;
    margin-left: auto;
}

#about-headline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 60px;
}

#about-text {
    color: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    font-size: 0.9rem;
}

/* Categories */

#categories-wrapper {
    /* width: 100vw; */
    padding: 50px 10vw;
    margin: 10vh 0;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 10px solid green; */
}

#categories {
}

#categories-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#categories-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}

#categories-button {
    font-family: 'Alata', sans-serif;
    border: 2px solid;
    padding: 10px 30px;
    letter-spacing: 3px;
    font-size: 15px;
    cursor: pointer;
}

#categories-button:hover {
    text-decoration: underline;
    background-color: hsl(0, 0%, 95%);
}

#categories-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    /* border: 1px solid red; */
    /* overflow: hidden; */
    color: white;
    height: 120vh;
}

.category {
    /* background-image: url('./images/desktop/image-deep-earth.jpg'); */
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 60vh; */
    height: 100%;
    width: 100%;
    min-width: 300px;
    /* border: 2px solid purple; */
    position: relative;
    /* margin: 15px 0; */
    cursor: pointer;
}

.category:hover {
    opacity: 0.9;
}

.category-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    left: 20px;
    /* color: hsl(0, 0%, 55%); */
    /* backdrop-filter: ;
     */

    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-blend-mode: lighten; */
    margin-top: auto;
    filter: brightness(100%);
}

/* Footer */

#footer-container {
    color: white;
    background-color: black;
    /* width: 100vw; */
    padding: 50px 10vw;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Alata', sans-serif;
}

#footer-top img {
    width: 40%;
    cursor: pointer;
}

#footer-links {
    display: flex;
    margin-top: 30px;
}

#footer-link {
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
}

#footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer-social-links {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    border: 1px solid red;
}

#footer-social-links img {
    margin-left: 20px;
    width: 20px;
}

#footer-copyright {
    color: hsl(0, 0%, 55%);
    text-align: right;
    border: 1px solid red;
}
